<div>
    <div *ngIf="currentUser.id" class="edit-form">
      <h4>User</h4>
      <form>
        <div class="form-group">
          <label for="title">First name</label>
          <input
            type="text"
            class="form-control"
            id="firstname"
            [(ngModel)]="currentUser.firstname"
            name="firstname"
          />
        </div>
        <div class="form-group">
          <label for="lastname">Last Name</label>
          <input
            type="text"
            class="form-control"
            id="lastname"
            [(ngModel)]="currentUser.lastname"
            name="lastname"
          />
        </div>

        <div class="form-group">
            <label for="email">Email</label>
            <input
              type="text"
              class="form-control"
              id="email"
              [(ngModel)]="currentUser.email"
              name="email"
            />
          </div>

  
  
      <button class="badge badge-danger mr-2" (click)="deleteUser()">
        Delete
      </button>
  
      <button
        type="submit"
        class="badge badge-success mb-2"
        (click)="updateUser()"
      >
        Update
      </button>
      <p>{{ message }}</p>

  
    <div *ngIf="!currentUser.id">
      <br />
      <p>Cannot access this User....</p>
    </div>

