<div>
    <div class="submit-form">
      <div *ngIf="!submitted">
        <div class="form-group">
          <label for="firstname">First Name</label>
          <input
            type="text"
            class="form-control"
            id="firstname"
            required
            [(ngModel)]="user.firstname"
            name="firstname"
          />
        </div>
  
        <div class="form-group">
            <label for="lastname">Last Name</label>
            <input
              type="text"
              class="form-control"
              id="lastname"
              required
              [(ngModel)]="user.lastname"
              name="lastname"
            />
          </div>

          <div class="form-group">
            <label for="email">Email</label>
            <input
              type="text"
              class="form-control"
              id="email"
              required
              [(ngModel)]="user.email"
              name="email"
            />
          </div>
  
        <button (click)="saveUser()" class="btn btn-success">Submit</button>
      </div>
  
      <div *ngIf="submitted">
        <h4>User was submitted successfully!</h4>
        <button class="btn btn-success" (click)="newUser()">Add</button>
      </div>
    </div>
  </div>
