<div class="list row">
    
    <div class="col-md-6">
      <h4>User List</h4>
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let user of users; let i = index"
          [class.active]="i == currentIndex"
          (click)="setActiveUser(user, i)"
        >
          {{ user.email }}
        </li>
      </ul>
  
      <button class="m-3 btn btn-sm btn-danger" (click)="removeAllUsers()">
        Remove All
      </button>
    </div>
    <div class="col-md-6">
      <div *ngIf="currentUser.id">
        <h4>User</h4>
        <div>
          <label><strong>Firstname:</strong></label> {{ currentUser.firstname }}
        </div>
        <div>
          <label><strong>Lastname:</strong></label>
          {{ currentUser.lastname }}
        </div>
        <div>
            <label><strong>Email:</strong></label>
            {{ currentUser.email }}
          </div>
       
  
        <a class="badge badge-warning" routerLink="/users/{{ currentUser.id }}">
          Edit
        </a>
      </div>
  
      <div *ngIf="!currentUser">
        <br />
        <p>Please click on a User...</p>
      </div>
    </div>
  </div>
